<div class="row" style="margin-left: 100px; margin-top: 50px;" >
  <%= link_to '< Back', chefs_path, :style=>"color: rgba(0,0,0,1);"%>
</div>
<div class='container'>
  <div class='container'>
    <div class="container p-3 d-flex">
      <div class="container p-3 pl-7" style="max-width: 25%; justify-content: right; display: flex;">
      <div style="height: 150px; width:150px; border-radius: 50%; overflow:hidden">
        <img src=<%= @chef.photo %> style="height: 100%; width: 100%; object-fit: cover">
      </div>
      </div>
      <div class="container p-3" style="">
        <h1 style="font-weight: 700;"><%= @chef.name %></h1>
        <h5 style="color: rgba(100,100,100,0.7); font-weight: 700;">
        <% if @chef.name == "Remi the Rat"%>
            <%= @chef.price %> Pieces of Cheese</h5>
          <% else %>
            $<%= @chef.price %>.00 per hour</h5>
          <% end %>
        <p style='color: rgba(0,0,0,0.8); font-weight: 700;'><%= @chef.category %></p>
      </div>
      <div class="container p-3" style="align-items: center; justify-content: left; display: flex;">
        <a href="<%= new_chef_booking_path(@chef.id) %>" class="btn btn-ghost" style="height: 40px;">Book this Chef</a>
      </div>
    </div>
    <div style="margin-left: 110px; margin-top: 15px;">
      <p><%= @chef.description %></p>
    </div>
  </div>
  <br>
  <div class="container" style="justify-content: center;">
  <h4 class="pt-5 pb-3" style="justify-content: center; display: flex; font-weight: 700;">Reviews</h4>
    <% if @chef.reviews.length == 0  %>
      <div style="justify-content: center; display: flex;">
        <p>No reviews yet</p>
      </div>
    <% end %>
    <div class="container" style="align-items: center; justify-content: center;">
      <% @chef.reviews.each do |review| %>
        <div class="card p-3 pb-2 mb-3" style="">
          <div class="d-flex mb-4" style="justify-content: space-between;"><h6 style="color: rgba(0,0,0,0.5);"><%= review.booking.user.email %></h6><h6 style="font-weight: 700;"><%= review.rating %>/10</h6></div>
          <p>' <%= review.content %> '</p>
        </div>
      <% end %>
    </div>
    </div>

</div>
