<div class='container pt-5'>
  <h1>Booking with chef <%= @booking.chef.name %></h1>
  <p>From: <%= @booking.start_time %></p>
  <p>To: <%= @booking.end_time %></p>

  <%= link_to 'Back to chef', chef_path(@booking.chef)  %> <br>
  <%= link_to 'Add a review', new_chef_booking_review_path(@booking.chef, @booking)  %><br>
  <%= link_to 'Delete', booking_path(@booking), method: :delete, data: { confirm: "Are you sure you want to remove #your booking?"} %>
</div>
